*, *:before, *:after {
  box-sizing: border-box;
  font-size: 1rem;
}



/* NAV HEADER BEGINS */

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 15%;
  padding: 1%;
  background-color: white;
  display: flex;  

}

.logo {
  height: 4rem;
  padding-left: 5rem;
  
}

.main-nav-menu {

  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  width: 300px;
  justify-content: center;
  padding-right: 6rem;
  

}

.main-nav-menu a {

  text-transform: uppercase;
  color: #e2574c;  
  text-decoration: none; 
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  padding-right: 2rem;
  

}

li {
  list-style-type: none;
}

.cart-img  {

  display: flex;
  height: 4rem;
  padding-right: 8rem;
  
}

/* NAV HEADER ENDS */


/* BANNER SECTION BEGINS */

.banner {

  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0.2), 
    rgba(0,0,0,0.2) 
    ), 
    url(../images/banner-girl.png), 
    url(../images/flower-bkgd.jpg);

  background-size: cover, 250px, contain;
  background-repeat: repeat, no-repeat;
  background-position: center, center 160px, center;
  height: 650px;

  
  text-align: center;
  color: white;
}

.banner-collection {
  
  font-size: 25px;
  padding-top: 330px;
  font-size: 20px;
  font-family: 'Raleway';
  text-transform: uppercase;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  
}

.banner-season {
  
  display: block;
  font-family: 'Playfair Display';
  font-size: 60px;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  
  
}

/* END OF BANNER SECTION */

/* ABOUT SECTION BEGINS */

.about-container {
text-align: center;
width: 100%;
padding: 5%;

}

.font-italic {
  line-height: 20px;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  font-style: italic;
  padding-right: 10px;
  color: #2d2d2d;
}

.font-bold {

  line-height: 20px;
  font-family: 'Playfair Display';
  font-weight: bold;
  font-style: normal;
  color: #2d2d2d;
  font-size: 40px;
}

.about-container  p {
  line-height: 30px;
  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  color: #2d2d2d;
}

/* END OF ABOUT SECTION */


/* SHOP SECTION BEGINS */

.shop-section {
display: flex;
flex-wrap: wrap;

width: 100%;
height: 40rem;
background-color: #e2574c;

}

.mens {
display: flex;
align-items: center;
justify-content: center;
width: 50%;
height: 50%;
  
background-image: url(../images/mens-category.jpg);
background-repeat: no-repeat;
background-size: contain;
  
font-family: 'Raleway';
color: white;
font-style: normal;
text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  
}

.mens a {
font-size: 2.5rem;
text-decoration: none;
color: white;
}


.trends {
display: flex;
align-items: center;
justify-content: center;
width: 25%;
height: 50%;

background-image: url(../images/trends-category.jpg);
background-size: contain;
background-repeat: no-repeat;

font-family: 'Raleway';
color: white;
font-style: normal;
text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.trends a {
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
}

.glasses {
display: flex;
align-items: center;
justify-content: center;
width: 25%;
height: 50%;

background-image: url(../images/glasses-category.jpg);
background-size: contain;
background-repeat: no-repeat;

font-family: 'Raleway';
color: white;
font-style: normal;
text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.glasses a {
font-size: 2.5rem;
text-decoration: none;
color: white;
}

.sale {
display: flex;
align-items: center;
justify-content: center;
width: 25%;
height: 50%;

background-image: url(../images/sale-category.jpg);
background-size: contain;
background-repeat: no-repeat;

font-family: 'Raleway';
color: white;
font-style: normal;
text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.sale a {
font-size: 2.5rem;
text-decoration: none;
color: white;
}

.bags {
display: flex;
align-items: center;
justify-content: center;
width: 25%;
height: 50%;
 
background-image: url(../images/bags-category.jpg);
background-size: contain;
background-repeat: no-repeat;
  
font-family: 'Raleway';
color: white;
font-style: normal;
text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.bags a {
font-size: 2.5rem;
text-decoration: none;
color: white;
}

.womens {
display: flex;
align-items: center;
justify-content: center;
width: 50%;
height: 50%;

background-image: url(../images/womens-category.jpg);
background-repeat: no-repeat;
background-size: contain;
  
font-family: 'Raleway';
color: white;
font-style: normal;
text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.womens a {
font-size: 2.5rem;
text-decoration: none;
color: white;
}

.shop-section a:hover {
color:#f5ebc6;
}

/* END OF SHOP SECTION  */

.featured-products {
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

.featured-products h2 {

text-transform: uppercase;
font-family: 'Raleway';
font-weight: 500;
font-style: normal;
color: #d7d7d7;
}

.featured-products p {

  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  color: #d7d7d7;
  }

.featured-products h3 {

color: #e2574c;
font-family: 'Playfair Display';
font-weight: normal;
font-size: 1.5rem;
}

/* NEWSLETTER SECTION BEGINS */

.updates {
  background-image: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)),
  url(../images/wave-bkgd.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  
}

.updates span {
  color: white;
}

.updates p {

  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  line-height: 2rem;
  color: white;
  font-size: 18px;
  
}

input[type="email"] {

  border-radius: 20px;
  padding-right: 120px;
  height: 25px;
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
}

input[type="submit"]  {
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 25px;
  background-color: #e2574c;
  color: white;
  font-weight: bold;
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;

}

input[type="submit"]:hover {
  background-color: crimson;
}


/* NEWSLETTER SECTION ENDS */


/* FOOTER BEGINS */

.footer-container {
  display: flex;
  justify-content: space-between;
  
  border-top: solid white 8px;
  background-color: #242424;
  color: white;
  
  padding-top: 3rem;
  padding-bottom: 3rem;
  
}

.company-info {
  display: block;
  padding-left: 5rem;

  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  
}

.company-info p {
  color: #969696;
}

.social-media  {
  display: flex;
  flex-direction: column;  
  justify-content: space-around;
  padding-right: 10rem;

}

.social-media span {
  font-family: 'Raleway';
  font-weight: 500;
  padding-left: 5px;

}


 .company-info a:link {
   color: white;
 }

 .company-info a:visited {
   color: white;
 }

 .company-info a:hover {
  color: #e2574c;
 }

 .social-media a:link {
  color: white;
 }

 .social-media a:visited {
  color: white;
 }

 .social-media a:hover {
  color: #e2574c;
 }


 /* FOOTER ENDS */



 @media screen and (min-width: 600px) {
  body {
   
  }
}

@media screen and (min-width: 900px) {
  body {
  
  }
}