/* FOOTER BEGINS */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: solid white 8px;
  background-color: $footer-bg;
  color: #ffffff;
  padding: 3rem 0;

  @include tablet-size {
    justify-content: space-around;
 
  }

}

.company-info {
  order: 1;
  display: block;
  text-align: center;
  
  font-family: $second-font;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;

  @include tablet-size {
    text-align: justify;
  }

  p {
    color:$lighter-text;
  }

  li {
    margin-bottom: 15px;
  }

  span a {

    &:link,
    &:visited {
      color:white;
    }

    &:hover {
      color: $brand-color;

    }
  }
}



.social-media {
  display: flex;
  align-items: flex-start;
  order: 2;

  @include tablet-size {
    flex-direction: column;
    justify-content: space-between;
  }

  span {
    display: none;

    @include tablet-size{
      display: inline;
      font-family: $main-font;
      font-weight: 300;
    }
  }

  li a {
    text-decoration: none;

    &:link,
    &:visited {
      color: white;
    }

    &:hover {
      color: $brand-color;
    }
  }
  .fab {
    width: 30px;
  }
}


/* FOOTER ENDS */