// media queries
$tablet-min-width: 600px;
$desktop-min-width: 900px;

// fonts
$main-font: 'Raleway', sans-serif;
$second-font: 'Playfair Display', serif;

//colors
$brand-color: #e2574c;
$body-font-color: #2d2d2d;
$lighter-text: #969696;
$hover-state: #b64036;
$border: #d7d7d7;
$footer-bg: #242424;